body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage {
    text-align: center;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.homepage h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.homepage p {
    font-size: 18px;
    margin-bottom: 30px;
}

.enter-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.enter-button:hover {
    background-color: #0056b3;
}


.filter-box {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    margin: auto;
}

.filter-box h3 {
    margin-top: 0;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.filter-group input[type="checkbox"],
.filter-group input[type="radio"] {
    margin-right: 8px;
}

input[type="number"] {
    width: 80px;
    padding: 5px;
    margin: 10px 0;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #218838;
}
